*{
  margin: 0;
padding: 0;
}

body{
  height: 100%;
  width: 100vw;
  background-image: url(../../assets/img/background.jpg);
  background-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-coders{
  background-color: #ffffff9f;
  /*opacity: 90%;*/
  width: 1250px;
  height: 796px;
  margin: auto;
  margin-top: 4%;
  z-index: -1;
}

.table-home{
  width: 65vw;
  height: 80vh;
  margin-left: 8%;
}

td img{
  margin-top: 8%;
}

  