*{
  margin: 0;
padding: 0;
}
body{
  height: 100%;
  width: 100vw;
  background-image: url(../../assets/img/background.jpg);
  background-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-home{
  background-color: #FFFFFF;
  opacity: 60%;
  width: 80vw;
  height: 65vh;
  margin: auto;
  margin-top: 4%;
  z-index: -1;
  display: grid;
  
}
.table-home{
  width: 65vw;
  height: 80vh;
}
.date{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.date-time{
  font-size: 40px;
  color: #FFBE02;
}
.container{
  display: flex;
    justify-content: center;
}


  