*{
  margin: 0;
padding: 0;
}

body{
  height: 100%;
  width: 100vw;
  background-image: url(../../assets/img/background.jpg);
  background-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 100px;
  margin-top: 0px;
}

<<<<<<< HEAD
.container-home{
  background-color: #FFFFFF;
  opacity: 60%;
  width: 50vw;
  height: 40vh;
=======
.container-coders{
  background-color: #ffffff9f;
  /*opacity: 90%;*/
  width: 1250px;
  height: 796px;
>>>>>>> e7592b71452d3782e09dac9890f8072a3e1c92ac
  margin: auto;
  margin-top: 8%;
  z-index: -1;
<<<<<<< HEAD
  display: grid;
  position: relative;
  align-items: center;
  
=======
>>>>>>> e7592b71452d3782e09dac9890f8072a3e1c92ac
}

.table-home{
<<<<<<< HEAD
  width: 50vw;
  height: 40vh;
}
.date{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
=======
  width: 65vw;
  height: 80vh;
  margin-left: 8%;
>>>>>>> e7592b71452d3782e09dac9890f8072a3e1c92ac
}

td img{
  margin-top: 8%;
}

  