body{
    background-image: url(../../assets/img/sean-sinclair-C_NJKfnTR5A-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #ffffff9f;
  /*opacity: 90%;*/
  width: 1250px;
  height: 796px;
  margin: auto;
  margin-top: 4%;
  z-index: -1;
  }